body {
    margin: 0px;
    font-family: 'Merriweather Sans', serif;
    text-align: center;
}
h1 {
    margin-top: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'sacramento', serif;
    color:#66BFBF;
    line-height: 2;
}
h2{
    font-family: 'montserrat', cursive;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'montserrat', cursive;
    color:#11999E;
  
}
a {
    color:#11999E;
}
span{
        text-decoration: underline;
}
div {
    color: #e4f9f5;
    
}
.top-container{
    padding-top: 100px;
}

.top-cloud{
    position: absolute;
    right: 250px;
    top: 50px;
}
    .bottom-cloud {
position: absolute;
left:250px;
    }
    
